[project]
	description = Experimental puspose only
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ygude
[access "refs/for/refs/*"]
	read = group user/ygude
	push = group user/ygude
	label-Code-Review = -2..+2 group user/ygude
	label-Verified = -1..+1 group user/ygude
	rebase = group user/ygude
	removeReviewer = group user/ygude
	submit = group user/ygude
[access "refs/heads/*"]
	read = group user/ygude
	create = group user/ygude
	push = +force group user/ygude
	pushMerge = group user/ygude
[access "refs/tags/*"]
	push = group user/ygude
	push = +force group user/ygude
